* {
  background-color: ivory;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  border: 0 solid black;
  width: 500px;
  margin: auto;
}

h3 {
  display: inline-block;
}

form {
  border: 0 solid #f1f1f1;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Update the style for the submit button */
input[type="submit"] {
  background-color: lightblue; /* Change the background color to light blue */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 68%; /* Change the width to 68% */
}

/* Add a hover effect for buttons */
input[type="submit"]:hover {
  opacity: 0.8;
}

